/* basic color parameters */

:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --footer-bg-color: #2F303A;
    --main-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
    --background: #F5F5F5;
    --trans-text-color: rgba(255, 255, 255, .6);
    --logo-color: #000000;
    --border-header:#ECECEC;
}

/* main parameters */
.main{
    background-color: var(--background);
}

.accent:hover,
.accent:focus
{
    color: var(--accent-color);
}


body{
    width: 1600px;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    padding: 0;
    margin: 0;
}
h2, h3, h4{
    color: var(--title-text-color);
}
h2{
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        
}

h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
}
ul{
    margin: 0;
        padding: 0;
}
.li-style{
    list-style: none;

}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.focus-color {
    color: var(--accent-color);
}

.border-btn{
    border: 1px solid transparent;
}

.container{

    width: 1200px;
    min-height: 80px;
    margin-right: auto;
    margin-left: auto;
    


    
}

/* header */

.header{
    background-color: var(--main-color);
}
.logo-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.border-line{
    border: 1px solid var(--border-header);
}

.menu-contact{
    display: flex;

}

.menu{
    display: flex;
}

.menu-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;

    margin-right: 50px;
}

.logo{
    color: var(--logo-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;

    display: inline-block;
    margin-top: 25px;
    margin-bottom: 24px;

 
}

.logo>span{
    color: var(--accent-color);
}

.title{
    color: var(--title-text-color);
    
}

.primary{
    color: var(--primary-text-color);
}





/* Hero section */

.hero{
    background-color: var(--footer-bg-color);
    text-align: center;
}
.hero-title{
    color: var(--main-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 30px;
}
.btn{
    display: inline-block;

    background-color: var(--accent-color);
    color: var(--main-color);

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    cursor: pointer;

    padding: 10px 32px;

}


/* Advantages section */
.ad-title{
    display: none;
}

.advantages-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 10px;
}
.advantages-box{
    display: flex;
    justify-content: space-around;
}


.advantage-item{
    font-weight: 400;
    line-height: 1.7;

    margin: 0;


}

/* Activity */
.activity-title{
    margin-top: 0;
    margin-bottom: 50px;
}
.activity-img{
    margin-top: 0;
    margin-bottom: 94px;
}
.activity-box{
    display: flex;
    justify-content: space-between;
}
/* Team */
.team{
    background-color: var(--secondary-bg-color);
    text-align: center;
}
.team-title{
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 94px;
}
.team-box{
    display: flex;
    justify-content: space-between;
}
.team-user{
    margin-top: 0;
    margin-bottom: 94px;
}
.user{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
}



/* Footer */
.footer{
    background-color: var(--footer-bg-color);
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    
}
address{
    font-style: normal;
}

.footer>.logo{
    color: var(--main-color);
    
}

.map-link{
    color: var(--main-color);
    text-decoration: none;

}

.footer-logo {
    color: var(--main-color);
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 20px;
}

.footer-link{
    color: var(--trans-text-color);
    text-decoration: none;
}

.bottom-div{
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Page 2 - Portfolio */

.section{
    text-align: center;
}

.section-item{
    display: flex;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 50px;
    /* margin-right: auto; */
}
.section-btn{
    background-color: var(--secondary-bg-color);
    color: var(--title-text-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;

    border-radius: 4px;

    display: inline-block;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
    margin-right: 7px;
}

.section-btn:hover,
.section-btn:focus{
    background-color: var(--accent-color);
    color: var(--main-color)
}

.focus-bg {
    background-color: var(--accent-color);
    color: var(--main-color);
    padding-left: 25px;
    padding-right: 25px;
}
.portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolio-items{
    cursor: pointer;
    text-align: left;

    /* margin-right: 30px; */
    margin-bottom: 30px;
}

.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 4px;
}

.title-img{
    margin-left: 20px;
    margin-bottom: 20px;
}

.category-img{
    margin-bottom: 20px;
}

.category{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    margin-top: 0;
    margin-bottom: 0;
    
}