/* basic color parameters */

:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --footer-bg-color: #2F303A;
    --main-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
    --background: #F5F5F5;
    --trans-text-color: rgba(255, 255, 255, .6);
    --logo-color: #000000;
    --border-header:#ECECEC;
}

/* main parameters */
.main{
    background-color: var(--background);
}

.accent:hover,
.accent:focus
{
    color: var(--accent-color);
}


body{
    
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    padding: 0;
    margin: 0;
}
h2, h3, h4{
    color: var(--title-text-color);
}
h2{
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        
}

h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
}
ul{
    margin: 0;
        padding: 0;
}
.li-style{
    list-style: none;

}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.focus-color {
    color: var(--accent-color);
}

.border-btn{
    border: 1px solid transparent;
}


/* header */
header{

    background-color: greenyellow;
}

.menu-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.logo{
    color: var(--logo-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo>span{
    color: var(--accent-color);
}

.title{
    color: var(--title-text-color);
    
}

.primary{
    color: var(--primary-text-color);
}

.nav{
    display: flex;
    outline: 1px #2196F3;
}



/* Hero section */

.hero{
    background-color: var(--footer-bg-color);
    text-align: center;
}
.hero-title{
    color: var(--main-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.btn{
    background-color: var(--accent-color);
    color: var(--main-color);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
}


/* Advantages section */
.ad-title{
    display: none;
}

.advantages-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    text-transform: uppercase;
}

.advantage-item{
    font-weight: 400;
    line-height: 1.7;

}

/* Activity */


/* Team */
.team{
    background-color: var(--secondary-bg-color);
}
.user{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
}



/* Footer */
.footer{
    background-color: var(--footer-bg-color);
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    
}
address{
    font-style: normal;
}

.footer>.logo{
    color: var(--main-color);
}
.map-link{
    color: var(--main-color);
    text-decoration: none;

}

.footer-link{
    color: var(--trans-text-color);
    text-decoration: none;
}


/* Page 2 - Portfolio */

.section-btn{
    background-color: var(--secondary-bg-color);
    color: var(--title-text-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    cursor: pointer;
}

.section-btn:hover,
.section-btn:focus{
    background-color: var(--accent-color);
    color: var(--main-color)
}

.focus-bg {
    background-color: var(--accent-color);
    color: var(--main-color);
}

.portfolio-items{
    cursor: pointer;
}

.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    text-align: left;
}

.category{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    
}